body {
  font-family: "Poppins", sans-serif;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section .secondary {
  background: #dfdddd;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../images/middle-falls-genesee-river-letchworth-state-park.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 200px 60px;
}
header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 92px;
  line-height: 1;
  margin: 30px 0 30px;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #272044;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}
main h2 {
  font-weight: 600px;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 2px;
  color: #272044;
  opacity: 0.6;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-weight: 600px;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
main h5 {
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
}
footer {
  background-image: linear-gradient(rgba(39, 32, 68, 0.7), rgba(0, 0, 0, 0.9)),
    url("../images/upper-falls-letchworth-state-park.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 0 20px;
}
footer h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  border: 5px solid #272044;
}
.grid {
  display: grid;
  grid-gap: 50px;
}
.img-responsive {
  width: 100%;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}
.card {
  background-color: white;
  margin: 30px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
}
.card-header.grid {
  grid-gap: 0;
}
.card-header img {
  aspect-ratio: 1/1;
}
.card-body {
  padding: 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #272044;
  text-decoration: none;
}
.text-center {
  text-align: center;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 46px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
